@import "src/utils/colours";

.Home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 16px;

  .Title {
    font-size: xxx-large;
  }

  .SectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 32px;

    .About {
      max-width: 60%;
      text-align: justify;
      border: 1px solid $color-pink;
      padding: 8px;

      @media only screen and (max-width: 600px) {
        text-align: start;
      }

      h3 {
        margin-top: 0;
        align-self: flex-end;

        @media only screen and (max-width: 600px) {
          align-self: flex-start;
        }
      }

      img {
        max-height: 150px;
        border: 2px solid $color-green;
      }
    }

    .AboutImage {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    .Links {
      display: flex;
      flex-direction: column;
      max-width: 30%;

      a {
        color: #282c34;
        text-decoration: none;
        font-size: 18px;
        padding: 16px 16px 16px 0;
        align-items: center;
        display: flex;

        img {
          max-height: 20px;
          padding-right: 5px;
        }
      }

      a:hover {
        color: #bdafd6;
      }

      a.active {
        color: #00a8ff;
      }
    }

    .Body {
      border: 1px solid $color-purple;
      padding: 4px;
      margin: 4px 0;

      p {
        margin: 0
      }
    }
  }

}