.ProjectSummary {
  max-width:300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 32px;

  .Title {
    font-size: 24px;
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
  }

  .Image {
    height: 300px;
  }

  .Icon {
    img {
      max-height: 100px;
    }
  }

  .Summary {
    text-align: justify;
    height: 100px;
  }

  .LearnMore {
    margin-bottom: 8px;
  }
}