.ProjectSummary {
  max-width:300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 32px;

  .Title {
    font-size: 24px;
    padding-bottom: 16px;
  }

  .Image {
    width: 80%;
  }

  .Summary {
    text-align: justify;

    img {
      max-height: 100px;
    }
  }
}