.Home {

  .Title {
    text-align: center;
    font-size: x-large;
    padding-top: 16px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 600px) {
      width: 90%;
      padding: 8px;
    }
  }

  .Panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }

    .MobileImage {
      width: 25%;
      margin: 16px 16px 16px 64px;
      border: 2px solid black;
      display: none;

      @media only screen and (max-width: 600px) {
        width: 90%;
        margin: 8px;
        text-align: center;
        display: flex;
      }
    }

    .DesktopImage {
      width: 100%;
      border: 2px solid black;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .Technologies {
    border: 2px solid black;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 4px;
    box-shadow: 10px 10px black;

    @media only screen and (max-width: 600px) {
      max-width: 90%;
      padding: 8px;
      text-align: center;
    }

    .TechUsed {
      font-size: medium;
    }

    .TechIcons {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-evenly;
      padding: 16px;

      .TechImage {
        max-width: 20%;
        padding: 8px;
      }
    }
  }

}