.ProjectDetail {
  padding: 20px;
  text-align: center;

  .Title {
    font-size: xx-large;
    padding: 16px;
  }

  .DetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    iframe {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .Description {
      width: 80%;
      text-align: justify;

      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
  }
}