.ProjectDetail {
  padding: 20px;
  text-align: center;

  .Title {
    font-size: xx-large;
    padding: 16px;
  }

  .DetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .Description {
      width: 40%;
      text-align: justify;
    }
  }
}